body {
  margin: 0;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Adjust the height of images */
.grid .eachCard img {
  width: 100%;
  height: 15rem; /* Adjust as needed */
  object-fit: cover;
}

/* Increase the height of each card */
.eachCard {
  width: 28rem;
  margin: 1em;
  overflow: hidden;
  height: auto; /* Allows the card to grow based on content */
  min-height: 20rem; /* Set a minimum height */
}

/* Adjust the bottomBox */
.bottomBox {
  background-color: #EBEBEB;
  padding: 0.5em;
  min-height: 5rem; /* Adjust based on content */
  border-radius: 0px 0px 15px 15px;
}
