.FAQ {
  max-width: 800px;
  margin: 0 auto;
}

.FAQ h1 {
  margin-left: 150px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  background-color: #ccc;
  margin-bottom: 5px;
}

.question:hover {
  background-color: #f2f2f2;
}

.question span {
  font-size: 20px;
}

.answer {
  padding: 10px;
  border-bottom: 5px solid;
  background-color: #f9f9f9;


}

.cool-bg {
  background: rgba(33, 37, 41, 0.65);
}