.full-height {
    height: 100vh !important;
  }

#profile {
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}


.update-form{
  width: 100%;
  /* height: 100%; */
}


